<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Submitted</title>
</head>
<body>
    <div align="center">
        <h1>Review Submitted!</h1>
        <span>Restaurant name: </span><span th:text="${Reviews.restaurant}"></span><br/>
        <span>Rating: </span><span th:text="${Reviews.rating}"></span><br/>
        <span>Comments: </span><span th:text="${Reviews.comment}"></span><br/>
        <a href="/allreviews">Back to Reviews</a>
    </div>
</body>
</html>